{% extends './common/base.html' %}

{% load static %}


{% block content %}

    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Task : {{fetchData.name}}</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="{% static 'img/nature/image1.jpg'%}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#"></a></h6>
                                <p class="text-muted card-text">Description:{{fetchData.description}}</p>
                                <span>Starting Day: {{fetchData.start_day}}</span></br>
                                <span>Ending Day: {{fetchData.end_day}}</span></br>
                                <span>Priority of task: {{fetchData.priority}}</span></br>
                                <span>Created At : {{fetchData.created_at}}</span></br>
                                <span>Updated At: {{fetchData.updated_at}}</span></br>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>

{% endblock %}